*{
  font-family: 'Domine', sans-serif;
  font-size:16px;
}

body{
  background-color: #263238;
  color:white;
}

a{
  color:white;
}

a:hover{
  color:white;
  -webkit-transition: color 1000ms linear;
  -ms-transition: color 1000ms linear;
  transition: color 1000ms linear;
}

button.button, a.button{
 color:white;
 background-color:#616161;
 border:1px solid black;
 border-radius:5px;
 text-decoration:none;
 text-transform:uppercase;
 display:block;
 width:100%;
 height:25px;
 font-size:0.9em;
}

button.vote-btn{
  display:block;
  width:100%;
  height:50px;
  font-size:0.9em;
}

button.button:hover, a.button:hover{
  cursor:pointer;
  color:white;
  background-color:#212121;
}

hr{
  margin-bottom:20px;
}

.head{
  display:block;
  width:100%;
  padding-top:10px;
  padding-bottom:5px;
  background-color: #212121;
}

.head>h1{
  margin-left:20px;
  margin-bottom:0;
  margin-top:0;
  display:inline;
  margin-right:50px;
}

.head>a{
  letter-spacing:3px;
  text-decoration: none;
  font-size:20px;
}

.disclaimer>h2{
  font-size:2em;
  margin-bottom:0;
}

.disclaimer>h2>a{
  font-size:1em;
}

.name{
  display:block;
  font-size:17px;
  margin-top:10px;
  margin-bottom:10px;
}

.name-vote{
  font-size:28px;
}

.quality{
  border-radius:5px;
  color:black;
  width:80%;
  margin:0 auto;
  margin-top:-10px;
  font-size:0.8em;
}

.quality-vote{
  font-size:20px;
}

.Contraband{
  background-color: #ffae39;
}

.Covert{
  background-color: #eb4b4b;
}

.Classified{
    background-color:#d32ee6;
}

.Restricted{
    background-color:#8847ff;
}

.Mil-Spec{
    background-color:#4b69ff;
}

.Industrial{
  background-color: #5e98d9;
}

.Consumer{
  background-color: #b0c3d9;
}

.Vanilla{
  background-color: grey;
}


.weapons{
  text-align:center;
}
.weapons img {
  display: block;
  max-width:95%;
  margin:0 auto;
}

.weapon-bg{
  background-color: #212121;
  border-radius:2%;
  border:1px solid black;
  border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.weapon-bg>img{
  padding-top:15px;
  padding-bottom:15px;
  width:100%;
}

.weapon-bg-category{
  background-color: #212121;
  border-radius:5%;
  border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  padding-bottom:20px;
}

.weapon-bg-category>img{
  padding-top:30px;
  padding-bottom:30px;
  width:100%;
}

.container > .row {
  margin-bottom:20px;
}

.category{

}

.category-btn{
  padding-top:10px;
  padding-bottom:10px;
}

.top-rank{
  height:20px;
  padding-bottom:3px;
  opacity:0.9;
  margin-bottom:10px;
  margin:0 auto;
  font-weight:bold;
}

.vote{
  max-width:1200px;
  margin:0 auto;
  margin-top:50px;
}

.vote>.weapon-bg{
  padding-top:20px;
}

.weapon-bg-vote>img{
  width:90%;
  margin-top:20px;
  margin-bottom:20px;
}

.first{
  background-color: #4CAF50;
}

.second{
  background-color: #FF9800;
}

.third{
  background-color: #F44336;
}

.fourth{
  background-color: #424242;
}

.category{
  border-radius:2%;
  border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  background-color: #424242;
}

.category>h3{
  font-size:25px;
  letter-spacing: 5px;
  text-transform:uppercase;
  margin-top:20px;
  transform:translateY(10px);
}

.footer{
  height:50px;
  background-color: #212121;
  text-align:center;
  width: 100%;
}
