*{
  font-family: 'Domine', sans-serif;
  font-size:16px;
}

body{
  background-color: #424242;
  color:white;
}




a{
  color:white;
}

a:hover{
  color:white;
  -webkit-transition: color 1000ms linear;
  -ms-transition: color 1000ms linear;
  transition: color 1000ms linear;
}

button.button, a.button{
 color:white;
 background-color:#616161;
 border:1px solid black;
 border-radius:5px;
 padding:10px 10px 10px 10px;
 text-decoration:none;
 text-transform:uppercase;
}

button.button:hover, a.button:hover{
  cursor:pointer;
  color:white;
  background-color:#212121;
}

hr{
  margin-bottom:20px;
}

.head>h1{
  margin-bottom:0;
}
.head>h4{
  margin-top:0;
}
.head>h4>a{
  font-size:24px;
}

.name{
  display:block;
  height:50px;
  font-size:18px;
}

.quality{
  border-radius:5px;
  color:black;
  width:80%;
  margin:0 auto;
  margin-top:-10px;
}

.Covert{
  background-color: #eb4b4b;
}

.Classified{
    background-color:#d32ee6;
}

.Restricted{
    background-color:#8847ff;
}

.Mil-Spec{
    background-color:#4b69ff;
}

.Industrial{
  background-color: #5e98d9;
}

.Consumer{
  background-color: #b0c3d9;
}

.Vanilla{
  background-color: grey;
}


.weapons{
  text-align:center;
}
.weapons img {
  display: block;
  max-width:95%;
  margin:0 auto;
}

.weapon-bg{
  background-color: #212121;
  border-radius:2%;
  border:1px solid black;
  border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  padding-bottom:20px;
}

.weapon-bg>img{
  padding-top:30px;
  padding-bottom:30px;
  width:100%;
}

.weapon-bg-category{
  background-color: #212121;
  border-radius:5%;
  border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  padding-bottom:20px;
}

.weapon-bg-category>img{
  padding-top:30px;
  padding-bottom:30px;
  width:100%;
}

.container > .row {
  margin-bottom:20px;
}

.category{

}

.category-btn{
  padding-top:10px;
  padding-bottom:10px;
}

.top-rank{
  height:20px;
  border-radius:5%;
  padding-bottom:3px;
  opacity:0.9;
  margin-bottom:10px;
}

.vote{
  max-width:1200px;
  margin:0 auto;
  margin-top:50px;
}

.vote>.weapon-bg{
  padding-top:20px;
  padding-bottom:20px;
}

.first{
  background-color: #4CAF50;
}

.second{
  background-color: #FF9800;
}

.third{
  background-color: #F44336;
}

.fourth{
  background-color: #424242;
}
